<div class="info">
  <p><b>Name:</b> {{ data['Name'] }}</p>
  <p><b>Mobile:</b> {{ data['Mobile'] }}</p>
  <p><b>Outlet:</b> {{ data['Outlet'] }}</p>
  <p><b>Voucher Code:</b> {{ data['Code'] }}</p>
  <p><b>Discount:</b> {{ discount }}% OFF</p>
  <p><b>Issued On:</b> {{ data['Created At'] }}</p>
</div>

<img src="{{ img_url }}" alt="Voucher Image">

<div class="footer">
  Show this voucher at any Naturals outlet to redeem your discount.<br>
  <a class="btn" href="/">Back to Console</a>
</div>
